/* Copyright (c) 2015 Siemens AG - Corporate Technology, Bernd Lindner

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/

/* Tagcloud macro */
.tagcloud {
	margin: 0 auto; /* center div */
	text-align: center; /* center tags */
	line-height: 1;
}

.tagcloud a,.tagcloud a:link,.tagcloud a:visited {
	text-decoration: none;
	margin-right: 5px;
	vertical-align: middle;
}

.tagcloud a:hover {
	text-decoration: underline;
}

.tagcloud #tagcloud-loading {
	/* image from ajaxload.info */
	background: url("images/ajax-loader.gif") no-repeat center bottom;
	width: 100%;
	height: 35px;
}

/* font-size for classes a.rank0 .. a.rank8 is no more defined here (static),
but directly in style attribute to support dynamic minSize/maxSize settings.
Class attributes are still present to allow overriding in custom (e.g. theme) CSS. */

/* Tagcloud.action and its sidebar */

/* Global Tagcloud */
body.tagcloud-body #main {
    padding: 0;
}

body.tagcloud-body #main-header {
    padding: 20px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

body.tagcloud-body .dashboard {
    margin-top: 0;
}

body.tagcloud-body .global-tagcloud {
	padding: 20px;
}

.spacetools.with-space-sidebar #main-header {
	background-color: #FFFFFF;
}

#tagcloud-container {
	/* '!important' needed in Documentation Theme */
	margin-right: 270px !important;
}

#tagcloud-container .tagcloud-intro {
	margin-bottom: 20px;
}

#tagcloud-sidebar {
	float: right;
	width: 230px;
}

.tagcloud-filters-panel {
	-moz-border-radius: 3px 3px 3px 3px;
	background: none repeat scroll 0 0 #F0F0F0;
	margin-bottom: 10px;
	padding: 10px;
}

.tagcloud-filters-panel .tagcloud-filter-container {
	margin: 15px 0;
}

.tagcloud-filters-panel .first {
	margin-top: 0;
}

.tagcloud-filters-panel .tagcloud-filter-comment {
	color: #757575;
	font-size: 8pt;
}

#tagcloud-sidebar select {
	width: 100%;
}